<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-start">
            <ion-button shape="round" color="success" size="small" href="/auth">SignIn</ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
            <ion-button shape="round" size="small">SignUp</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row mt-3 ms-2 me-2">
    <div class="col-12">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </div>
  </div>
  <ion-list class="mt-2">
    <ion-list-header>
      <ion-label>
        <div class="row">
          <div class="col-2">
            <ion-img src="https://img.icons8.com/bubbles/100/null/ringer-volume.png" style="max-width: 50px; min-width: 50px;"></ion-img>
          </div>
          <div class="col-9 d-flex align-items-center">
            <h1>Available Destinations</h1>
          </div>
        </div>
      </ion-label>
    </ion-list-header>
    <div class="ion-text-center" *ngIf="isLoading && timer == 0">
      <ion-spinner name="circular"></ion-spinner>
    </div>
    <ion-item class="mt-2" *ngFor="let i of this.allDestinationList">
      <ion-label>{{ i.place_name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
