<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-start">
            <ion-button shape="round" color="success" size="small" href="/auth">SignIn</ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
            <ion-button shape="round" size="small">SignUp</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Reserve Your Paris Tour</h2>
    </div>
    <div class="col-12 text-center">
      <ion-button>Manage Bookings</ion-button>
    </div>
    <div class="col-12">
      <router-outlet></router-outlet>
      <!-- <ion-router-outlet></ion-router-outlet> -->
    </div>
  </div>
</ion-content>
