<ion-content [fullscreen]="true">

  <div class="rec">
    <div class="row" style="padding-top: 20px;">
      <!-- <div class="col-2 d-flex justify-content-center" style="margin-top: 20px;">
        <a href="/vehicles">
          <ion-img src="https://img.icons8.com/bubbles/100/null/car.png" style="max-width: 50px;"></ion-img>
        </a>
      </div> -->
      <div class="col-12 text-center" style="text-align: left;">
        <h1 class="welcome-heading">Reserve Your Paris Tour</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- <div class="col-12">
      <h2 class="text-center">Reserve Your Paris Tour</h2>
    </div>
    <div class="col-12 text-center">
      <ion-button>Manage Bookings</ion-button>
    </div> -->
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</ion-content>
