
<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-start">
            <ion-button shape="round" color="success" size="small" href="/auth">SignIn</ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
            <ion-button shape="round" size="small">SignUp</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Login</h1>
</ion-content>
