@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');

.rec {
    width: 100vw;
    height: 334px;
    left: 0px;
    top: 0px;

    background: #2E2A72;
    border-radius: 0px 0px 30px 30px;
}

.welcome-heading {
    position: absolute;
    width: 354px;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    color: white;
    /* or 39px */
    letter-spacing: 1px;
    height: 102px;
    left: 30px;
    top: 121px;
}

.heading {
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #1E232C;
}

.subtitle-heading {
    position: absolute;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    /* or 39px */
    letter-spacing: -0.01em;
    color: #FEC242;
    left: 35px;
    top: 191px;
}

.search {
    width: 80%;
    height: 41px;
    left: 30px;
    top: 363px;
    background: transparent;
    color: #ffff;
}

::placeholder {
    color: #ffff;
    opacity: 1; /* Firefox */
}

.space {
    margin-top: 30%;
}

.link-reset {
    text-decoration: none;
    color: black;
}

.section-subtitle {
    font-size: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    color: #666;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 6px;
    margin-bottom: 5px;
}

.section-title {
    font-size: 45px;
    font-family: 'Gilda Display', serif;
    font-weight: 400;
    color: #222;
    position: relative;
    margin-bottom: 20px;
    line-height: 1.25em;
}

.img-class {
    align-items: center;
    display: flex;
    text-align: center;
}

p {
    color: #b3b3b3;
    font-weight: 300;
}