<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Promotional Details</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="text" class="form-control text-input" placeholder="Type Promotion Code">
    </div>
    <div class="col-12">
      <button class="add-promo-btn mt-3">Add Promotion</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Vehicle Details</h3>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <p>Vehicle Name :</p>
        </div>
        <div class="col-6">
          <p>{{ this.selectedVehicleName }}</p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <p>Price :</p>
        </div>
        <div class="col-6">
          <p> {{ this.price }} (EUR)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>User Details</h3>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <p>First Name :</p>
        </div>
        <div class="col-6">
          <p>{{ this.clientDetails.first_name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Last Name :</p>
        </div>
        <div class="col-6">
          <p>{{ this.clientDetails.last_name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Mobile No :</p>
        </div>
        <div class="col-6">
          <p>{{ this.clientDetails.mobile_number }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Email Address :</p>
        </div>
        <div class="col-6">
          <p>{{ this.clientDetails.email }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col-12">
        <button class="submit-btn" (click)="goToPaymentForm()">Go to Next Page</button>
    </div>
</div>
</div>