<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Promotional Details</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="text" class="form-control text-input" placeholder="Type Promotion Code">
    </div>
    <div class="col-12">
      <button class="add-promo-btn mt-3">Add Promotion</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Vehicle Details</h3>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <p>Vehicle Name :</p>
        </div>
        <div class="col-6">
          <p>Mercidex Bence Class S Series</p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <p>Price :</p>
        </div>
        <div class="col-6">
          <p> 1500 (EUR)</p>
        </div>
      </div>
    </div>
  </div>
</div>