<ion-content>
  <div class="rec">
    <div class="row" style="padding-top: 10px;">
      <div class="col-12 ms-3" style="margin-top: 10px;">
        <a href="/">
          <ion-img src="../../../../assets/icon/back.png" style="max-width: 30px;"></ion-img>
        </a>
      </div>
      <div class="col-12">
        <h1 class="welcome-heading ms-3">Reserve Your Paris Tour</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h3>The NEHLA VTC Paris</h3>
    </div>
    <div class="col-12 text-center">
      <p>
        A question ? A special request to submit to us? Our team is at your disposal to answer all your questions.
      </p>
    </div>
    <div class="row ms-1">
      <div class="col-12">
        <ion-card>
          <ion-card-content>
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <p>Email Info</p>
              </div>
              <div class="col-12 d-flex justify-content-center">
                <ion-img src="https://img.icons8.com/bubbles/100/null/new-post.png" style="max-width: 70px; min-width: 70px;"></ion-img>
              </div>
              <div class="col-12 d-flex justify-content-center">
                <p>contact@nehlavtcparis.com</p>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col-12">
        <ion-card>
          <ion-card-content>
            <a href="tel:+33 6 36 20 35 62" style="text-decoration: none;">
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <p>Reservation</p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                  <ion-img src="https://img.icons8.com/bubbles/100/null/phone--v1.png" style="max-width: 70px; min-width: 70px;"></ion-img>
                </div>
                <div class="col-12 d-flex justify-content-center">
                  <p>+33 6 36 20 35 62</p>
                </div>
              </div>
            </a>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="row">
        <div class="col-12 text-center">
          <h2>- Get in touch -</h2>
        </div>
        <!-- <div class="col-12 text-center">
          <p>
            A question ? A special request to submit to us? Our team is at your disposal to answer all your questions.
          </p>
        </div> -->
        <app-contact-form></app-contact-form>
      </div>
    </div>
    
  </div>
</ion-content>
