<ion-content [fullscreen]="true">

  <div class="rec">
    <div class="row" style="padding-top: 10px;">
      <div class="col-12 ms-3" style="margin-top: 10px;">
        <a href="/">
          <ion-img src="../../../../assets/icon/back.png" style="max-width: 30px;"></ion-img>
        </a>
      </div>
      <div class="col-12">
        <h1 class="welcome-heading ms-3">Reserve Your Paris Tour</h1>
      </div>
    </div>
  </div>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://nehlavtcparis.com/images/car2-flip.png" />
    <ion-card-header>
      <ion-card-title>Mercedes Class-S Series</ion-card-title>
      <ion-card-subtitle style="text-align: justify;">For traveling alone or not many passengers, the S-Class is ideal. A model offering the unique
        comfort and safety you can count on for both our drivers and your rear passengers. This model is combined with
        luxurious materials.
        Your journey requires a modern car, choose the sleek design of the S-Class that focuses on the essentials:
        perfect proportions on the outside and modern luxury on the inside. The innovations of the S-Class thus
        demonstrate a unique presence that cannot be escaped.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://nehlavtcparis.com/images/car1-flip.png" />
    <ion-card-header>
      <ion-card-title>Mercedes Class-V Series</ion-card-title>
      <ion-card-subtitle style="text-align: justify;">
        For your journeys in a group or even alone for your greatest comfort and discretion, the V-Class will captivate
        you with its superior comfort worthy of Mercedes-Benz: from the exceptional roominess to the incomparable
        quality of its materials and finishes, passing with its intuitive operating concept and ambient lighting.
        Everything has been done to make your stay in the V-Class as pleasant as possible.

        The V-Class is a real eye-catcher. On the outside, its design is incomparable. The charm acts from the first
        glance inside: the passenger compartment is modern and the choice of high-quality materials with a neat finish
        makes it as pleasant to look at as it is to touch.
      </ion-card-subtitle>
    </ion-card-header>

  </ion-card>
</ion-content>