<div class="container">
  <form [formGroup]="this.journeyForm" action="" class="form-group" (ngSubmit)="onSubmitFirstForm()">
    <div class="row mt-3"> 
      <div class="col-12">
        <!-- <label for="from">From</label> -->
        <input type="text" class="form-control text-input" placeholder="Type From Location" formControlName="from">
      </div>
    </div>
    <div class="row mt-3 text-center">
      <div class="col-12">
        <button class="btn btn-primary btn-sm">Change</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <!-- <label for="from">To</label> -->
        <input type="text" class="form-control text-input" placeholder="Type To Locatio" formControlName="to">
      </div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col-12">
        <h3 class="welcome-heading">Options</h3>
      </div>
      <div class="col-12">
        <ion-radio-group formControlName="tripType">
          <ion-radio value="one_way">One Way</ion-radio>
          <ion-radio value="return" class="ms-5">Return</ion-radio>
        </ion-radio-group>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <label for="">Select Passengers</label>
        <select class="form-select" aria-label="Default select example" formControlName="passengerCount">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <!-- <label for="from">Luggage</label> -->
        <input type="text" class="form-control text-input" placeholder="Type Luggage Count" formControlName="luggageCount">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <ion-label class="" position="floating">Date</ion-label>
        <ion-card>
          <ion-card-content>
            <ion-datetime style="max-width: 100%;" display-format="DD/MM/YYYY HH:mm" formControlName="date"></ion-datetime>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <!-- <label for="from">Flight Number</label> -->
        <input type="text" class="form-control text-input" placeholder="Type Flight Number" formControlName="fliaghtNumber">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <!-- <label for="from">Baby Seats</label> -->
        <input type="text" class="form-control text-input" placeholder="Type Baby Setas Count" formControlName="babySeats">
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-12">
        <ion-button type="submit" color="success" expand="full">Go to Next Page</ion-button>
      </div>
    </div>
  </form>
</div>